.burger-menu {
    display: none;
}

.burger {
    z-index: -10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;
    opacity: 0;
    visibility: hidden;
}

.burger .container {
    min-height: 100vh;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.burger .container .menu {
    margin: 10px;
    max-width: 552px;
    width: 100%;
    background-color: #f2f2f2;
    color: #171A1E;
    position: relative;
    padding: 46px 69px 36px 100px;
    opacity: 0;
    transition: all 0.8s ease 0s;
    -webkit-transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}

@media (max-width: 992px) {
    .burger-menu {
        display: block;
    }

    .burger-menu .burger-btn {
        border: none;
        background: none;
    }

    .burger.active {
        z-index: 10;
        opacity: 1;
        visibility: visible;
        background: rgba(21, 19, 19, 0.631372549);
    }

    body .wrapper header .header__block .menu__icon .user-icon {
        display: none;
    }

    body .wrapper header .header__block .button-quiz {
        display: none;
    }
}

.menu-burger, .information, .shop-page {
    overflow: hidden;
    position: absolute;
    left: -120%;
    top: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.8s ease 0s;
}

.menu-burger a, .information a, .shop-page a {
    text-decoration: none;
    color: #000;
}

.menu-burger p, .information p, .shop-page p {
    border-bottom: 2px solid #000;
    opacity: 0.1;
    width: 100%;
    height: auto;
}

.menu-burger .menu-burger__header .container, .menu-burger .burger-menu__modal-shop .container, .information .menu-burger__header .container, .information .burger-menu__modal-shop .container, .shop-page .menu-burger__header .container, .shop-page .burger-menu__modal-shop .container {
    margin: 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.menu-burger .menu-burger__header .container .left-back, .menu-burger .burger-menu__modal-shop .container .left-back, .information .menu-burger__header .container .left-back, .information .burger-menu__modal-shop .container .left-back, .shop-page .menu-burger__header .container .left-back, .shop-page .burger-menu__modal-shop .container .left-back {
    z-index: 100;
    position: absolute;
    top: 22px;
    left: 20px;
    cursor: pointer;
}

.menu-burger .menu-burger__header .container .menu-burger__block-title #close-btn, .menu-burger .menu-burger__header .container .menu-burger__block-title-information #close-btn, .menu-burger .menu-burger__header .container .menu-burger__block-title-shop #close-btn, .menu-burger .burger-menu__modal-shop .container .menu-burger__block-title #close-btn, .menu-burger .burger-menu__modal-shop .container .menu-burger__block-title-information #close-btn, .menu-burger .burger-menu__modal-shop .container .menu-burger__block-title-shop #close-btn, .information .menu-burger__header .container .menu-burger__block-title #close-btn, .information .menu-burger__header .container .menu-burger__block-title-information #close-btn, .information .menu-burger__header .container .menu-burger__block-title-shop #close-btn, .information .burger-menu__modal-shop .container .menu-burger__block-title #close-btn, .information .burger-menu__modal-shop .container .menu-burger__block-title-information #close-btn, .information .burger-menu__modal-shop .container .menu-burger__block-title-shop #close-btn, .shop-page .menu-burger__header .container .menu-burger__block-title #close-btn, .shop-page .menu-burger__header .container .menu-burger__block-title-information #close-btn, .shop-page .menu-burger__header .container .menu-burger__block-title-shop #close-btn, .shop-page .burger-menu__modal-shop .container .menu-burger__block-title #close-btn, .shop-page .burger-menu__modal-shop .container .menu-burger__block-title-information #close-btn, .shop-page .burger-menu__modal-shop .container .menu-burger__block-title-shop #close-btn {
    margin: auto;
    position: relative;
    z-index: 100;
    border: none;
    background: none;
}

.menu-burger .menu-burger__header .container .menu-burger__block-title h3, .menu-burger .menu-burger__header .container .menu-burger__block-title-information h3, .menu-burger .menu-burger__header .container .menu-burger__block-title-shop h3, .menu-burger .burger-menu__modal-shop .container .menu-burger__block-title h3, .menu-burger .burger-menu__modal-shop .container .menu-burger__block-title-information h3, .menu-burger .burger-menu__modal-shop .container .menu-burger__block-title-shop h3, .information .menu-burger__header .container .menu-burger__block-title h3, .information .menu-burger__header .container .menu-burger__block-title-information h3, .information .menu-burger__header .container .menu-burger__block-title-shop h3, .information .burger-menu__modal-shop .container .menu-burger__block-title h3, .information .burger-menu__modal-shop .container .menu-burger__block-title-information h3, .information .burger-menu__modal-shop .container .menu-burger__block-title-shop h3, .shop-page .menu-burger__header .container .menu-burger__block-title h3, .shop-page .menu-burger__header .container .menu-burger__block-title-information h3, .shop-page .menu-burger__header .container .menu-burger__block-title-shop h3, .shop-page .burger-menu__modal-shop .container .menu-burger__block-title h3, .shop-page .burger-menu__modal-shop .container .menu-burger__block-title-information h3, .shop-page .burger-menu__modal-shop .container .menu-burger__block-title-shop h3 {
    margin: 0;
    font-family: Effra;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
}

.menu-burger .menu-burger__header .container .menu-burger__block-title-information, .menu-burger .burger-menu__modal-shop .container .menu-burger__block-title-information, .information .menu-burger__header .container .menu-burger__block-title-information, .information .burger-menu__modal-shop .container .menu-burger__block-title-information, .shop-page .menu-burger__header .container .menu-burger__block-title-information, .shop-page .burger-menu__modal-shop .container .menu-burger__block-title-information {
    margin: 0 auto;
}

.menu-burger .menu-burger__mail ul li a, .information .menu-burger__mail ul li a, .shop-page .menu-burger__mail ul li a {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    cursor: pointer;
    opacity: 0.3;
}

.menu-burger .menu-burger__mail ul li .vitamins, .information .menu-burger__mail ul li .vitamins, .shop-page .menu-burger__mail ul li .vitamins {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

.menu-burger .menu-burger__body, .menu-burger .menu-burger__mail, .information .menu-burger__body, .information .menu-burger__mail, .shop-page .menu-burger__body, .shop-page .menu-burger__mail {
    padding: 10px 20px;
}

.menu-burger .menu-burger__body ul, .menu-burger .menu-burger__mail ul, .information .menu-burger__body ul, .information .menu-burger__mail ul, .shop-page .menu-burger__body ul, .shop-page .menu-burger__mail ul {
    padding: 0;
}

.menu-burger .menu-burger__body ul li, .menu-burger .menu-burger__mail ul li, .information .menu-burger__body ul li, .information .menu-burger__mail ul li, .shop-page .menu-burger__body ul li, .shop-page .menu-burger__mail ul li {
    margin: 30px 0;
    list-style-type: none;
}

.menu-burger .menu-burger__body ul li .btn-quiz, .menu-burger .menu-burger__mail ul li .btn-quiz, .information .menu-burger__body ul li .btn-quiz, .information .menu-burger__mail ul li .btn-quiz, .shop-page .menu-burger__body ul li .btn-quiz, .shop-page .menu-burger__mail ul li .btn-quiz {
    color: #FF7D4E;
}

.menu-burger .menu-burger__body ul li a, .menu-burger .menu-burger__mail ul li a, .information .menu-burger__body ul li a, .information .menu-burger__mail ul li a, .shop-page .menu-burger__body ul li a, .shop-page .menu-burger__mail ul li a {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-family: "Effra";
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.menu-burger .menu-burger__body ul li a h5, .menu-burger .menu-burger__mail ul li a h5, .information .menu-burger__body ul li a h5, .information .menu-burger__mail ul li a h5, .shop-page .menu-burger__body ul li a h5, .shop-page .menu-burger__mail ul li a h5 {
    margin: 0;
    font-family: "Effra";
    font-size: 20px;
    font-weight: 500;
}

.menu-burger .menu-burger__body ul li a img, .menu-burger .menu-burger__mail ul li a img, .information .menu-burger__body ul li a img, .information .menu-burger__mail ul li a img, .shop-page .menu-burger__body ul li a img, .shop-page .menu-burger__mail ul li a img {
    width: 9px;
    height: 15px;
}

.menu-burger .menu-burger__body span, .information .menu-burger__body span, .shop-page .menu-burger__body span {
    margin: 0 auto;
    width: 80vw;
    border-bottom: 2px solid #000;
    opacity: 0.7;
}

.menu-burger.active, .information.active, .shop-page.active {
    z-index: 99;
    position: absolute;
    width: 100vw;
    min-height: 100%;
    height: 100vh;
    overflow: scroll;
    left: 0;
    top: 0;
    opacity: 1;
    visibility: visible;
    transition: all 0.8s ease 0s;
    background: white;
}

#body {
    display: block;
}

#body.active {
    display: none;
}