.pack {
    width: 100vw;
    overflow: hidden;
    margin-top: 140px;
    padding-left: 50px;
}

.pack .pack__orange-ring {
    position: absolute;
    right: 27%;
    top: 498px;
    width: 122px;
    height: 122px;
}

.pack section {
    margin: 0 auto;
}

.pack section .flex-box {
    margin-left: 150px;
}

.pack section .flex-box .pack__title h1 {
    max-width: 682px;
    width: 100%;
    height: auto;
    font-family: "Effra";
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    color: #000000;
}

.pack section .flex-box .pack__sub-title h4 {
    margin: 60px 0 23px 0px;
    font-family: "Effra";
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 31px;
    color: #000000;
}

.pack section .flex-box .pack__text {
    margin-left: 4px;
    max-width: 909px;
    width: 100%;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
}

.pack section .container {
    height: auto;
    width: 84.44vw;
    background: #FAF8F6;
    border-radius: 16px;
    margin: 0 auto;
    margin-left: 90px;
}

.pack section .container .pack__cards {
    padding: 30px 64px 50px 60px;
    margin: 90px 0 100px 0;
}

.pack section .container .pack__cards .pack__title-card h2 {
    font-family: "Effra";
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
    color: #000000;
}

.pack section .container .pack__cards .flex-box {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-left: 0;
    margin: 0px;
}

.pack section .container .pack__cards .flex-box .pack__card {
    display: -ms-flexbox;
    display: flex;
    max-width: 325px;
    min-width: 160px;
    padding: 16px 0;
    overflow: hidden;
    height: 26.6vw;
}

.pack section .container .pack__cards .flex-box .pack__card .container {
    background: #FFFFFF;
    border-radius: 16px;
    padding: 33px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 0;
}

.pack section .container .pack__cards .flex-box .pack__card .container img {
    margin: 37px auto;
}

.pack section .container .pack__cards .flex-box .pack__card .container .specification {
    margin-top: 13px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #6B5EBB;
}

.pack section .container .pack__cards .flex-box .pack__card .container .name-prodect {
    font-family: "Effra";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-top: 12px;
}

.pack section .container .pack__cards .flex-box .pack__card .container .coin {
    margin-top: 15px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
}

.pack section .container .pack__cards .flex-box .pack__card .container .pack__title-card h2 {
    font-family: "Effra";
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
    color: #000000;
}

.pack section .container .pack__cards .pack__button-card {
    margin-top: 37px;
}

.pack section .container .pack__cards .pack__button-card button {
    width: 330px;
    height: 65px;
    background: #FF7D4E;
    border-radius: 100px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 163.42%;
    text-align: center;
    color: #FFFFFF;
}

@media (max-width: 992px) {
    .pack section .flex-box {
        margin-left: 20px;
    }

    .pack section .flex-box .pack__title {
        width: 70%;
    }

    .pack section .flex-box .pack__title h1 {
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
    }

    .pack section .flex-box .pack__sub-title h4 {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
    }

    .pack section .flex-box .pack__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
    }

    .pack section .container {
        width: 100vw;
    }

    .pack section .container .pack__cards {
        padding: 50px 12.5px;
    }

    .pack section .container .pack__cards .flex-box .pack__cards {
        padding: 50px 12.5px;
    }

    .pack section .container .pack__cards .flex-box .pack__cards .flex-box .pack__card {
        padding: 7.5px;
        max-width: 160px;
        min-width: 160px;
    }

    .pack section .container .pack__cards .flex-box .pack__cards .flex-box .pack__card .container {
        padding: 15px;
    }

    .pack section .container .pack__cards .flex-box .pack__cards .flex-box .pack__card .container img {
        width: 91.25px;
        height: 102.37px;
    }

    .pack section .container .pack__cards .flex-box .pack__cards .flex-box .pack__card .container img .specification {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
    }

    .pack section .container .pack__cards .flex-box .pack__cards .flex-box .pack__card .container img .specification .name-prodect {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
    }

    .pack section .container .pack__cards .flex-box .pack__cards .flex-box .pack__card .container img .specification .name-prodect .coin {
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
    }
}

@media (max-width: 375px) {
    .pack {
        margin-top: 120px;
    }

    .pack section .container .pack__cards .flex-box .pack__card {
        max-width: none;
    }

    .pack section .container .pack__cards .flex-box .pack__card .container {
        padding: 10px;
    }

    .pack section .container .pack__cards .flex-box .pack__card .container img {
        display: -ms-flexbox;
        display: flex;
        width: 171.17px;
        height: 191.19px;
        margin: 0 auto;
    }

    .pack section .container .pack__cards .flex-box .pack__card .container .specification {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
    }

    .pack section .container .pack__cards .flex-box .pack__card .container .name-prodect {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
    }

    .pack section .container .pack__cards .flex-box .pack__card .container .coin {
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
    }

    .pack section .container .pack__cards .pack__button-card {
        margin-top: 50px;
    }

    .pack section .container .pack__cards .pack__button-card button {
        width: 90vw;
        position: fixed;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        bottom: 16px;
    }

    footer {
        position: fixed;
        bottom: 0px;
    }
}