@import url("https://fonts.cdnfonts.com/css/effra-heavy");

body {
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
    position: relative;
    margin: 0;
    padding: 0;
}

body .wrapper {
    min-height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

body .wrapper header {
    z-index: 10;
    width: 98vw;
    padding: 30px 35px;
    position: absolute;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

body .wrapper header .header__block {
    padding-right: 30px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

body .wrapper header .header__block button, body .wrapper header .header__block .button-quiz {
    font-family: "Effra";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 20px;
    width: 154px;
    height: 35px;
    background: #FF7D4E;
    border-radius: 100px;
    text-decoration: none;
    padding-top: 13px;
}

body .wrapper header .header__block .menu__icon {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
}

body .wrapper header .header__block .menu__icon img {
    width: 32px;
    height: 32px;
    padding: 10px 30px 0 0;
}

body .wrapper .main {
    height: 100%;
}

body .wrapper .main .butels-3 {
    position: absolute;
    max-width: 530px;
    max-height: 450px;
    width: 100%;
    height: 100%;
    left: 202px;
    top: 1640px;
    z-index: 3;
}

body .wrapper .main .capsula-yelow {
    position: absolute;
    max-width: 801px;
    max-height: 470px;
    width: 100%;
    height: 100%;
    left: 37.8vw;
    top: 1820px;
    z-index: 2;
}

body .wrapper .main section {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    box-sizing: border-box;
}

body .wrapper .main section .decor-section-1 {
    position: absolute;
    width: 277px;
    height: 141px;
    left: 759px;
    top: 784px;
}

body .wrapper .main section .ring {
    position: absolute;
    width: 129px;
    height: 129px;
    left: 61%;
    top: 0px;
    z-index: -1;
}

body .wrapper .main section h1 {
    max-width: 650px;
    width: 100%;
    font-family: "Effra";
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 68px;
    color: #000000;
    margin: 160px 0 0 167px;
    box-sizing: border-box;
}

body .wrapper .main section h1 span {
    color: #F27E58;
}

body .wrapper .main section p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 163.42%;
    color: #808080;
    margin: 35px 0 0 167px;
    max-width: 488px;
    width: 100%;
    box-sizing: border-box;
}

body .wrapper .main section .button-block {
    margin: 50px 0 0 167px;
    max-width: 488px;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
}

body .wrapper .main section .button-block button {
    width: 260px;
    height: 74px;
    margin-right: 33px;
    background: #6E5DDC;
    border-radius: 200px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 163.42%;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 156px;
}

body .wrapper .main section .button-block .go-to-the-shop {
    margin-top: 25px;
    text-decoration: none;
    font-family: "Effra";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #F27E58;
}

body .wrapper .main section .color__block-grey {
    background: #F9F9F9;
    z-index: -2;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
}

body .wrapper .main section .color__block-blue {
    width: 50vw;
    height: 53.33vw;
    background-image: url("/assets/images/icon/background1.png");
    background-size: 50vw;
    background-repeat: no-repeat;
    background-origin: border-box;
    z-index: -2;
}

body .wrapper .main section .flex-box {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
}

body .wrapper .main section .flex-box .container h1, body .wrapper .main section .flex-box .container p, body .wrapper .main section .flex-box .container .button-block {
    z-index: 50;
}

body .wrapper .main section .flex-box .container img {
    z-index: 1;
}

body .wrapper .main section .flex-box, body .wrapper .main section .flex-block {
    width: 50vw;
    position: relative;
}

body .wrapper .main section .flex-box .container, body .wrapper .main section .flex-block .container {
    padding: 100px 35px;
    position: relative;
}

body .wrapper .main section .flex-box .container ul, body .wrapper .main section .flex-block .container ul {
    list-style: none;
    margin-top: 115px;
    padding-left: 25px !important;
}

body .wrapper .main section .flex-box .container ul li, body .wrapper .main section .flex-block .container ul li {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-bottom: 124px;
}

body .wrapper .main section .flex-box .container ul li .icon-li, body .wrapper .main section .flex-box .container ul li .icon-li1, body .wrapper .main section .flex-box .container ul li .icon-li2, body .wrapper .main section .flex-block .container ul li .icon-li, body .wrapper .main section .flex-block .container ul li .icon-li1, body .wrapper .main section .flex-block .container ul li .icon-li2 {
    position: absolute;
    width: auto;
    height: 84px;
}

body .wrapper .main section .flex-box .container ul li .icon-li1, body .wrapper .main section .flex-box .container ul li .icon-li2, body .wrapper .main section .flex-block .container ul li .icon-li1, body .wrapper .main section .flex-block .container ul li .icon-li2 {
    margin-left: 10px;
    width: 87.04px;
    height: 97px;
    margin-top: -10px;
}

body .wrapper .main section .flex-box .container ul li .icon-li2, body .wrapper .main section .flex-block .container ul li .icon-li2 {
    height: 107px;
}

body .wrapper .main section .flex-box .container ul li p, body .wrapper .main section .flex-block .container ul li p {
    max-width: 471px;
    width: 100%;
    height: auto;
    margin-top: 5px;
    padding-left: 27px;
    font-family: "Effra";
    font-style: normal;
    font-weight: 500;
    font-size: 29.5px;
    line-height: 36px;
}

body .wrapper .main section .flex-box .container .ring-litle-orange1, body .wrapper .main section .flex-block .container .ring-litle-orange1 {
    position: absolute;
    border-radius: 50%;
    left: 13.8%;
    top: 64px;
    height: 140px;
    width: 140px;
    z-index: 1;
    background: #FFCA78;
    color: #FFCA78;
}

body .wrapper .main section .flex-box .container h2, body .wrapper .main section .flex-block .container h2 {
    font-family: "Effra";
    font-style: normal;
    font-weight: 500;
    font-size: 55px;
    line-height: 68px;
    color: #fff;
    z-index: 1;
    width: 563px;
    height: 203px;
    margin: 255px 356px 401px 168px;
    font-weight: bold;
}

body .wrapper .main section .flex-box .ring-litle-orange, body .wrapper .main section .flex-box .ring-litle-orange1, body .wrapper .main section .flex-block .ring-litle-orange, body .wrapper .main section .flex-block .ring-litle-orange1 {
    position: absolute;
    border-radius: 50%;
    left: 81.2%;
    top: 172px;
    height: 95px;
    width: 95px;
    z-index: 1;
    background: #FFCA78;
    color: #FFCA78;
}

body .wrapper .main section .flex-box .ring-big-blue, body .wrapper .main section .flex-block .ring-big-blue {
    position: absolute;
    border-radius: 50%;
    left: 20.9%;
    top: 217px;
    height: 29vw;
    width: 29vw;
    z-index: -1;
    background: #8172DD;
    color: #8172DD;
}

body .wrapper .main section .flex-box h2, body .wrapper .main section .flex-block h2 {
    margin-top: 100px;
    font-family: "Effra";
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    line-height: 68px;
    color: #fff;
    z-index: 1;
    width: 563px;
    height: 203px;
    margin: 202px 356px 401px 194px;
    font-weight: bold;
}

body .wrapper .main section .flex-box h2 span, body .wrapper .main section .flex-block h2 span {
    color: #ED815E;
}

body .wrapper .main section .flex-box .flex-box__img, body .wrapper .main section .flex-block .flex-box__img {
    width: 37vw;
    margin: 250px 0 0 90px;
}

body .wrapper .main section .flex-box .swiper-slider-card .swiper-wrapper, body .wrapper .main section .flex-box .swiper-slider-card-home-page .swiper-wrapper, body .wrapper .main section .flex-block .swiper-slider-card .swiper-wrapper, body .wrapper .main section .flex-block .swiper-slider-card-home-page .swiper-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
}

body .wrapper .main section .flex-box .swiper-slider-card .swiper-wrapper .swiper-slide .card-green, body .wrapper .main section .flex-box .swiper-slider-card .swiper-wrapper .swiper-slide .card-violet, body .wrapper .main section .flex-box .swiper-slider-card-home-page .swiper-wrapper .swiper-slide .card-green, body .wrapper .main section .flex-box .swiper-slider-card-home-page .swiper-wrapper .swiper-slide .card-violet, body .wrapper .main section .flex-block .swiper-slider-card .swiper-wrapper .swiper-slide .card-green, body .wrapper .main section .flex-block .swiper-slider-card .swiper-wrapper .swiper-slide .card-violet, body .wrapper .main section .flex-block .swiper-slider-card-home-page .swiper-wrapper .swiper-slide .card-green, body .wrapper .main section .flex-block .swiper-slider-card-home-page .swiper-wrapper .swiper-slide .card-violet {
    width: 400px;
    height: 494px;
    background: #89D4A7;
    border-radius: 16px;
    margin-left: 50px;
}

body .wrapper .main section .flex-box .swiper-slider-card .swiper-wrapper .swiper-slide .card-green .container, body .wrapper .main section .flex-box .swiper-slider-card .swiper-wrapper .swiper-slide .card-violet .container, body .wrapper .main section .flex-box .swiper-slider-card-home-page .swiper-wrapper .swiper-slide .card-green .container, body .wrapper .main section .flex-box .swiper-slider-card-home-page .swiper-wrapper .swiper-slide .card-violet .container, body .wrapper .main section .flex-block .swiper-slider-card .swiper-wrapper .swiper-slide .card-green .container, body .wrapper .main section .flex-block .swiper-slider-card .swiper-wrapper .swiper-slide .card-violet .container, body .wrapper .main section .flex-block .swiper-slider-card-home-page .swiper-wrapper .swiper-slide .card-green .container, body .wrapper .main section .flex-block .swiper-slider-card-home-page .swiper-wrapper .swiper-slide .card-violet .container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 65px 35px 10px 30px;
}

body .wrapper .main section .flex-box .swiper-slider-card .swiper-wrapper .swiper-slide .card-green .container img, body .wrapper .main section .flex-box .swiper-slider-card .swiper-wrapper .swiper-slide .card-violet .container img, body .wrapper .main section .flex-box .swiper-slider-card-home-page .swiper-wrapper .swiper-slide .card-green .container img, body .wrapper .main section .flex-box .swiper-slider-card-home-page .swiper-wrapper .swiper-slide .card-violet .container img, body .wrapper .main section .flex-block .swiper-slider-card .swiper-wrapper .swiper-slide .card-green .container img, body .wrapper .main section .flex-block .swiper-slider-card .swiper-wrapper .swiper-slide .card-violet .container img, body .wrapper .main section .flex-block .swiper-slider-card-home-page .swiper-wrapper .swiper-slide .card-green .container img, body .wrapper .main section .flex-block .swiper-slider-card-home-page .swiper-wrapper .swiper-slide .card-violet .container img {
    margin: 0 auto;
}

body .wrapper .main section .flex-box .swiper-slider-card .swiper-wrapper .swiper-slide .card-green .container .card__text-block, body .wrapper .main section .flex-box .swiper-slider-card .swiper-wrapper .swiper-slide .card-violet .container .card__text-block, body .wrapper .main section .flex-box .swiper-slider-card-home-page .swiper-wrapper .swiper-slide .card-green .container .card__text-block, body .wrapper .main section .flex-box .swiper-slider-card-home-page .swiper-wrapper .swiper-slide .card-violet .container .card__text-block, body .wrapper .main section .flex-block .swiper-slider-card .swiper-wrapper .swiper-slide .card-green .container .card__text-block, body .wrapper .main section .flex-block .swiper-slider-card .swiper-wrapper .swiper-slide .card-violet .container .card__text-block, body .wrapper .main section .flex-block .swiper-slider-card-home-page .swiper-wrapper .swiper-slide .card-green .container .card__text-block, body .wrapper .main section .flex-block .swiper-slider-card-home-page .swiper-wrapper .swiper-slide .card-violet .container .card__text-block {
    margin-top: 48px;
}

body .wrapper .main section .flex-box .swiper-slider-card .swiper-wrapper .swiper-slide .card-green .container .card__text-block span, body .wrapper .main section .flex-box .swiper-slider-card .swiper-wrapper .swiper-slide .card-violet .container .card__text-block span, body .wrapper .main section .flex-box .swiper-slider-card-home-page .swiper-wrapper .swiper-slide .card-green .container .card__text-block span, body .wrapper .main section .flex-box .swiper-slider-card-home-page .swiper-wrapper .swiper-slide .card-violet .container .card__text-block span, body .wrapper .main section .flex-block .swiper-slider-card .swiper-wrapper .swiper-slide .card-green .container .card__text-block span, body .wrapper .main section .flex-block .swiper-slider-card .swiper-wrapper .swiper-slide .card-violet .container .card__text-block span, body .wrapper .main section .flex-block .swiper-slider-card-home-page .swiper-wrapper .swiper-slide .card-green .container .card__text-block span, body .wrapper .main section .flex-block .swiper-slider-card-home-page .swiper-wrapper .swiper-slide .card-violet .container .card__text-block span {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    opacity: 0.5;
}

body .wrapper .main section .flex-box .swiper-slider-card .swiper-wrapper .swiper-slide .card-green .container .card__text-block h3, body .wrapper .main section .flex-box .swiper-slider-card .swiper-wrapper .swiper-slide .card-violet .container .card__text-block h3, body .wrapper .main section .flex-box .swiper-slider-card-home-page .swiper-wrapper .swiper-slide .card-green .container .card__text-block h3, body .wrapper .main section .flex-box .swiper-slider-card-home-page .swiper-wrapper .swiper-slide .card-violet .container .card__text-block h3, body .wrapper .main section .flex-block .swiper-slider-card .swiper-wrapper .swiper-slide .card-green .container .card__text-block h3, body .wrapper .main section .flex-block .swiper-slider-card .swiper-wrapper .swiper-slide .card-violet .container .card__text-block h3, body .wrapper .main section .flex-block .swiper-slider-card-home-page .swiper-wrapper .swiper-slide .card-green .container .card__text-block h3, body .wrapper .main section .flex-block .swiper-slider-card-home-page .swiper-wrapper .swiper-slide .card-violet .container .card__text-block h3 {
    font-family: "Effra";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin: 15px 0px;
}

body .wrapper .main section .flex-box .swiper-slider-card .swiper-wrapper .swiper-slide .card-green .container .card__text-block h4, body .wrapper .main section .flex-box .swiper-slider-card .swiper-wrapper .swiper-slide .card-violet .container .card__text-block h4, body .wrapper .main section .flex-box .swiper-slider-card-home-page .swiper-wrapper .swiper-slide .card-green .container .card__text-block h4, body .wrapper .main section .flex-box .swiper-slider-card-home-page .swiper-wrapper .swiper-slide .card-violet .container .card__text-block h4, body .wrapper .main section .flex-block .swiper-slider-card .swiper-wrapper .swiper-slide .card-green .container .card__text-block h4, body .wrapper .main section .flex-block .swiper-slider-card .swiper-wrapper .swiper-slide .card-violet .container .card__text-block h4, body .wrapper .main section .flex-block .swiper-slider-card-home-page .swiper-wrapper .swiper-slide .card-green .container .card__text-block h4, body .wrapper .main section .flex-block .swiper-slider-card-home-page .swiper-wrapper .swiper-slide .card-violet .container .card__text-block h4 {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163.42%;
    color: #FFFFFF;
    opacity: 0.7;
    margin: 0;
    margin-top: 15px;
}

body .wrapper .main section .flex-box .swiper-slider-card .swiper-wrapper .swiper-slide .card-violet, body .wrapper .main section .flex-box .swiper-slider-card-home-page .swiper-wrapper .swiper-slide .card-violet, body .wrapper .main section .flex-block .swiper-slider-card .swiper-wrapper .swiper-slide .card-violet, body .wrapper .main section .flex-block .swiper-slider-card-home-page .swiper-wrapper .swiper-slide .card-violet {
    background: #9C91E0;
}

body .wrapper .main section .flex-box .flex-element .block-text, body .wrapper .main section .flex-block .flex-element .block-text {
    margin-top: 150px;
}

body .wrapper .main section .flex-box .flex-element .flex-box-text, body .wrapper .main section .flex-box .flex-element-2 .flex-box-text, body .wrapper .main section .flex-block .flex-element .flex-box-text, body .wrapper .main section .flex-block .flex-element-2 .flex-box-text {
    width: 444px;
    height: 100%;
    margin: 0 auto;
}

body .wrapper .main section .flex-box .flex-element .flex-box-text h1, body .wrapper .main section .flex-box .flex-element-2 .flex-box-text h1, body .wrapper .main section .flex-block .flex-element .flex-box-text h1, body .wrapper .main section .flex-block .flex-element-2 .flex-box-text h1 {
    font-family: "Effra";
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    line-height: 68px;
    color: #FFFFFF;
}

body .wrapper .main section .flex-box .flex-element .flex-box-text p, body .wrapper .main section .flex-box .flex-element-2 .flex-box-text p, body .wrapper .main section .flex-block .flex-element .flex-box-text p, body .wrapper .main section .flex-block .flex-element-2 .flex-box-text p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 163.42%;
    color: #FFFFFF;
}

body .wrapper .main section .flex-box .flex-element .flex-box-text a, body .wrapper .main section .flex-box .flex-element-2 .flex-box-text a, body .wrapper .main section .flex-block .flex-element .flex-box-text a, body .wrapper .main section .flex-block .flex-element-2 .flex-box-text a {
    font-family: "Effra";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

body .wrapper .main section .flex-box .flex-element-2, body .wrapper .main section .flex-block .flex-element-2 {
    right: 0;
    position: absolute;
    width: 50vw;
    height: 825px;
    background-image: url("/assets/images/icon/bg1.png");
}

body .wrapper .main section .container-card {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: 0 auto;
}

body .wrapper .main section .container-card .card-1, body .wrapper .main section .container-card .card-2, body .wrapper .main section .container-card .card-3 {
    width: 444px;
    background: #FAF8F6;
    border-radius: 16px;
    margin: 16px;
    padding: 40px 30px;
}

body .wrapper .main section .container-card .card-1 h5, body .wrapper .main section .container-card .card-2 h5, body .wrapper .main section .container-card .card-3 h5 {
    font-family: "Effra";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

body .wrapper .main section .container-card .card-1 p, body .wrapper .main section .container-card .card-2 p, body .wrapper .main section .container-card .card-3 p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #000000;
    height: 30%;
}

body .wrapper .main section .container-card .card-1 h6, body .wrapper .main section .container-card .card-2 h6, body .wrapper .main section .container-card .card-3 h6 {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    margin-top: 60px;
    margin-bottom: 0px;
}

body .wrapper .main .section-6 .flex-box, body .wrapper .main .section-6 .flex-block {
    width: 100%;
}

body .wrapper .main .section-6 .flex-box .ring, body .wrapper .main .section-6 .flex-box .button-block, body .wrapper .main .section-6 .flex-box h1, body .wrapper .main .section-6 .flex-box p, body .wrapper .main .section-6 .flex-block .ring, body .wrapper .main .section-6 .flex-block .button-block, body .wrapper .main .section-6 .flex-block h1, body .wrapper .main .section-6 .flex-block p {
    margin: 0 auto;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: auto;
}

body .wrapper .main .section-6 .flex-box .button-block, body .wrapper .main .section-6 .flex-block .button-block {
    -ms-flex-direction: column;
    flex-direction: column;
}

body .wrapper .main .main__section-3 {
    position: relative;
    margin-top: 517px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

body .wrapper .main .main__section-3 .decor-1, body .wrapper .main .main__section-3 .decor-2 {
    position: absolute;
}

body .wrapper .main .main__section-3 .decor-1 {
    top: 15px;
    left: 8.4%;
}

body .wrapper .main .main__section-3 .decor-2 {
    top: 5px;
    right: 12.2%;
}

body .wrapper .main .main__section-3 p {
    margin-top: 30px;
}

body .wrapper .main .main__section-3 .main__heand-hair {
    background: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0px auto;
}

body .wrapper .main .main__section-3 .main__heand-hair .main__section-3__title {
    max-width: 919px;
    font-family: "Effra";
    font-style: normal;
    font-weight: 500;
    font-size: 55px;
    line-height: 68px;
    text-align: center;
    margin: 50px 0 0 0 !important;
    color: #000000;
}

body .wrapper .main .main__section-3 .main__heand-hair .main__section-3__text {
    margin: 30px 0 0 0 !important;
    max-width: 806px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 163.42%;
    text-align: center;
    color: #808080;
}

body .wrapper .main .main__section-3 .button-block {
    margin: 0 auto;
    margin-top: 52px;
}

body .wrapper .main .main__section-3 .button-block .sing-up__button-create-my-account {
    margin-right: 0px;
    margin: 0 auto;
    width: 260px;
    height: 74px;
    text-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #6E5DDC;
    border-radius: 200px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 163.42%;
    color: #FFFFFF;
}

body .wrapper .main .main__section-4 {
    margin-top: 150px;
}

body .wrapper .main .main__section-4 .flex-block {
    width: 100vw;
    margin-left: 152px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

body .wrapper .main .main__section-4 .flex-block .flex-element, body .wrapper .main .main__section-4 .flex-block .flex-element-2 {
    -ms-flex: 1 1 40%;
    flex: 1 1 40%;
}

body .wrapper .main .main__section-4 .flex-block .flex-element .swiper-slider-card-home-page, body .wrapper .main .main__section-4 .flex-block .flex-element-2 .swiper-slider-card-home-page {
    z-index: 5;
    overflow: hidden;
}

body .wrapper .main .main__section-4 .flex-block .flex-element .swiper-slider-card-home-page .swiper-wrapper .swiper-slide, body .wrapper .main .main__section-4 .flex-block .flex-element-2 .swiper-slider-card-home-page .swiper-wrapper .swiper-slide {
    max-width: 22vw;
}

body .wrapper .main .main__section-4 .flex-block .flex-element {
    margin-top: 150px;
}

body .wrapper .main .main__section-4 .flex-block .flex-element .block-text {
    margin-top: 190px;
}

body .wrapper .main .main__section-4 .flex-block .flex-element .block-text img {
    margin: 40px 0 30px 50px;
}

body .wrapper .main .main__section-4 .flex-block .flex-element .block-text h1 {
    margin: 37px 0 30px 50px;
}

body .wrapper .main .main__section-4 .flex-block .flex-element .block-text p {
    margin: 0 0 0 50px;
    max-width: 670px;
}

body .wrapper .main .main__section-4 .flex-block .flex-element .block-text img {
    margin-bottom: 0;
}

body .wrapper .main .main__section-4 .flex-block .flex-element-2 .flex-box-text {
    padding-left: 50px;
}

body .wrapper .main .main__section-4 .flex-block .flex-element-2 .flex-box-text h1 {
    margin: 235px 0 0 0px;
}

body .wrapper .main .main__section-4 .flex-block .flex-element-2 .flex-box-text p {
    margin: 0;
    margin: 30px 0;
}

body .wrapper .main .main__section-4 .flex-block .flex-element-2 .flex-box-text .go-to-the-shop {
    margin: 0;
    text-decoration: none;
}

body .wrapper .main .main__section-4 .flex-block .flex-element-2 .flex-box-text img {
    position: absolute;
    top: 720px;
    right: 202px;
}

body .wrapper .main section .container-card {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 60px 0 0 190px;
}

body .wrapper .main section .container-card .card-1, body .wrapper .main section .container-card .card-2, body .wrapper .main section .container-card .card-3 {
    max-width: 419px;
    height: 315px;
    border-radius: 16px;
    margin: 16px;
    padding: 43px 0 0 25px;
}

body .wrapper .main section .container-card .card-1 h5, body .wrapper .main section .container-card .card-1 p, body .wrapper .main section .container-card .card-2 h5, body .wrapper .main section .container-card .card-2 p, body .wrapper .main section .container-card .card-3 h5, body .wrapper .main section .container-card .card-3 p {
    margin: 15px 0 0 0;
}

body .wrapper .main section .container-card .card-1 p, body .wrapper .main section .container-card .card-2 p, body .wrapper .main section .container-card .card-3 p {
    max-width: 380px;
}

body .wrapper .main section .container-card .card-1 h6, body .wrapper .main section .container-card .card-2 h6, body .wrapper .main section .container-card .card-3 h6 {
    margin: 73px 0 0 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center;
}

body .wrapper .main section .container-card .card-1 h6 img, body .wrapper .main section .container-card .card-2 h6 img, body .wrapper .main section .container-card .card-3 h6 img {
    margin: 0px 17px 0 0;
}

body .wrapper .main .section-6 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 0px;
    position: relative;
    margin: 0 auto;
    margin-bottom: 5px;
}

body .wrapper .main .section-6 .decor-1, body .wrapper .main .section-6 .decor-2 {
    position: absolute;
}

body .wrapper .main .section-6 .decor-1 {
    top: 180px;
    left: 7%;
}

body .wrapper .main .section-6 .decor-2 {
    top: 70px;
    right: 0;
}

body .wrapper .main .section-6 .flex-box {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

body .wrapper .main .section-6 .flex-box .container {
    padding: 90px 35px;
}

body .wrapper .main .section-6 .flex-box .container .ring-icon-heand {
    display: -ms-flexbox;
    display: flex;
}

body .wrapper .main .section-6 .flex-box .container .ring-icon-heand img {
    margin: 0 auto;
}

body .wrapper .main .section-6 .flex-box .container h1 {
    margin-top: 48px;
}

body .wrapper .main .section-6 .flex-box .container p {
    margin: 38px auto 48px auto;
    max-width: 915px;
}

body .wrapper .main .section-6 .flex-box .container .button-block {
    padding-left: 30px;
    margin: 0 auto;
}

body .wrapper .main .section-6 .flex-box .container .button-block button {
    margin-bottom: 0;
}

body .wrapper .main .section-6 .flex-box .container .button-block .go-to-the-shop {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin: 32px 30px 5px 0;
}

body .wrapper .main .section-6 .flex-box .container .button-block .go-to-the-shop img {
    margin-left: 10px;
}

body .wrapper footer {
    position: relative;
    background: #FAF8F6;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: auto;
    min-height: 350px;
    padding: 70px 100px 0 200px;
    overflow: hidden;
}

body .wrapper footer .footer__block-title {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 235px;
}

body .wrapper footer .footer__block-title .footer__block-logo {
    width: 91.5px;
    height: 105px;
    margin-bottom: 55px;
}

body .wrapper footer .footer__block-title .footer__company-block {
    width: 124px;
    height: 32px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
    opacity: 0.3;
}

body .wrapper footer .footer__block {
    margin-right: 290px;
}

body .wrapper footer .footer__block-info {
    margin-right: 180px;
}

body .wrapper footer .footer__block, body .wrapper footer .footer__block-info, body .wrapper footer .footer__block-mail {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

body .wrapper footer .footer__block h6, body .wrapper footer .footer__block-info h6, body .wrapper footer .footer__block-mail h6 {
    margin: 0 0 -5px 0;
    margin-top: -10px;
}

body .wrapper footer .footer__block ul, body .wrapper footer .footer__block-info ul, body .wrapper footer .footer__block-mail ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-padding-start: 0px;
    padding-inline-start: 0px;
    width: auto;
    height: 191px;
}

body .wrapper footer .footer__block ul li, body .wrapper footer .footer__block-info ul li, body .wrapper footer .footer__block-mail ul li {
    max-width: 185px;
    margin-bottom: 14px;
    list-style: none;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #000000;
    opacity: 0.5;
}

body .wrapper footer .footer__block ul li a, body .wrapper footer .footer__block-info ul li a, body .wrapper footer .footer__block-mail ul li a {
    text-decoration: none;
    color: #000;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
}

body .wrapper footer .footer__block ul li a img, body .wrapper footer .footer__block-info ul li a img, body .wrapper footer .footer__block-mail ul li a img {
    width: 22px;
    height: 22px;
    margin: 5px 10px 0 0;
}

body .wrapper footer .footer__block ul li a p, body .wrapper footer .footer__block-info ul li a p, body .wrapper footer .footer__block-mail ul li a p {
    margin: 5px 0 0 0;
}

body .wrapper footer .footer__block ul li a:hover, body .wrapper footer .footer__block-info ul li a:hover, body .wrapper footer .footer__block-mail ul li a:hover {
    color: #ED815E;
    font-size: 18px;
}

body .wrapper footer .footer__block .footer__block-first-li, body .wrapper footer .footer__block-info .footer__block-first-li, body .wrapper footer .footer__block-mail .footer__block-first-li {
    font-family: "Effra";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 250.1%;
    color: #000000;
    opacity: 1;
}

@media screen and (max-width: 1530px) {
    body .wrapper .main section {
        -ms-flex-direction: column;
        flex-direction: column;
    }

    body .wrapper .main section .flex-box {
        width: 100vw;
    }

    body .wrapper .main section .flex-box .container h1, body .wrapper .main section .flex-box .container p, body .wrapper .main section .flex-box .container .button-block {
        margin: 0 auto;
    }

    body .wrapper .main section .flex-box .container .decor-section-1 {
        margin: 0;
        left: 0px;
    }

    body .wrapper .main section .color__block-grey {
        background: none;
    }

    body .wrapper .main section .color__block-grey .container .ring-big-blue {
        display: none;
    }
}